<div class="span12">
<div class="jumbotron">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>

          <div class"show-case ">
            <!-- start of 图片切换效果 -->
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item">
                  <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                  <div class="carousel-caption">
                    <h4>First Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
                <div class="item active">
                  <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                  <div class="carousel-caption">
                    <h4>Second Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                  <div class="carousel-caption">
                    <h4>Third Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div> <!-- end of 图片切换效果 -->
          </div>

        </div>
      </div>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
<div class="make_a_call">
  <div class="container" >
    <h2 style="display:inline">联系我们：张工，130000000000    </h2>
    <h4 style="display:inline">或通过邮箱：<a href="mailto:zhangcunlin@gmail.com">zhangcunlin@gmail.com</a></h4>
  </div>
</div>
<div class="container">

  <div class="marketing">

    <h1>为什么选择我们</h1>
    <p class="marketing-byline"></p>

    <div class="row-fluid">
      <div class="span4">
        <img src="http://twitter.github.com/bootstrap/assets/img/bs-docs-twitter-github.png">
        <h2>我们的优势一</h2>
        <p>
        这里填我们的优势一的简单介绍。我们有强大的技术团队，我们的使命是帮助客户解决自动化领域的问题。
        </p>
      </div>
      <div class="span4">
        <img src="http://twitter.github.com/bootstrap/assets/img/bs-docs-responsive-illustrations.png">
        <h2>我们的优势二</h2>
        <p>
        这里填我们的优势二的简单介绍。我们提供专业的自动化设计，安装，调试，及技术咨询服务。
        </p>
      </div>
      <div class="span4">
        <img src="http://twitter.github.com/bootstrap/assets/img/bs-docs-bootstrap-features.png">
        <h2>我们的优势三</h2>
        <p>
        这里填我们的优势三的简单介绍。我们的服务流程为：了解需求、确定需求、提供多套方案、确定方案等。
        </p>
      </div>
    </div>

    <hr class="soften">

    <h1>我们的成功案例</h1>
    <p class="marketing-byline">
    下面是我们部分成功案例，所有的技术方案及案例经验我们都记录在了我们博客中，请查看我们的<a href="/blog">博客</a>了解更多。
    </p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/soundready.png" alt="SoundReady.fm">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://kippt.com/" target="_blank">
            <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/kippt.png" alt="Kippt">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
            <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/gathercontent.png" alt="Gather Content">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/jshint.png" alt="JS Hint">
          </a>
        </li>
      </ul>
     </div>

  </div>
    <hr class="soften">

    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span7">
        <h3 style="display:inline">我们的观点</h3>
        <%= link_to "查看更多",posts_path %>
        <% Post.order("created_at DESC").limit(5).each do |post| %>
          <h5><%= link_to post.title , post%></h5>
        <% end %>
        </li>
        <li class="span5 get_contact">
        <h3>有任何技术难题请告诉我们</h3>
        <p>这里可以收集联系方式</p>
        <p>这里可以收集联系方式</p>
        <p>这里可以收集联系方式</p>
        <p>这里可以收集联系方式</p>
        <p>这里可以收集联系方式</p>
        <p>这里可以收集联系方式</p>
        </li>
      </ul>
     </div>

</div>
</div>
