<div class="span9">
<h1>New post</h1>

<%= render 'form' %>
</div>

<div class="span3">
  <div class="box">
    <div class="header">
      提示信息
    </div>
    <div class="inner">
      经常发表文章有利于网站在百度的收录情况，从而让百度带来更多流量和客户。
    </div>
  </div>
</div>
